.main-section {
  display: grid;
}
.profile-item {
  display: inline-flex;
  align-items: center;
  width: 90%;
  max-width: 300px;
  padding: 5px 10px;
  border: 1px solid var(--second);
  box-shadow: 0 0 2px var(--second);
  margin: 5px;
}
.profile-item:hover {
  color: var(--first);
  background-color: var(--third);
  border-color: var(--third);
}
.profile-icon {
  width: var(--third-height);
  margin-right: 5px;
}

@media (max-width: 600px) {
  .main-section {
    padding: 10px;
    gap: 1px;
  }
  .profile-item {
    max-width: 100%;
    width: 100%;
    margin: 0;
    border: none;
  }
}
