body {
  margin: 0;
  padding-top: var(--seventh-height);
}

.form-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
  box-shadow: 13px 13px 20px var(--dark-shadow),
    -13px -13px 20px var(--light-shadow);
  border-radius: 10px;
  margin: 0px auto var(--seventh-height);
}

.title,
.description,
.price,
.form-container textarea,
.main-category-picker,
.sub-category-picker,
.ad-location-picker,
.response,
.success_response,
.negotiate-wrapper,
.condition-wrapper {
  width: 100%;
  padding: 10px 20px;
  resize: vertical;
  border: none;
  box-shadow: inset 4px 4px 5px var(--dark-shadow),
    inset -4px -4px 5px var(--light-shadow);
  border-radius: 10px;
}

label:not(.image, .dark-toggle-switch, .dark-mode-toggle) {
  color: var(--third);
}

label:not(.dark-toggle-switch, .dark-mode-toggle),
label.image,
.submit,
.response,
.success_response,
.negotiate-wrapper,
.condition-wrapper {
  cursor: pointer;
  box-shadow: 4px 4px 5px var(--dark-shadow), -4px -4px 5px var(--light-shadow);
}

label:not(.dark-toggle-switch, .dark-mode-toggle):hover {
  color: var(--first);
  background-color: var(--third);
}

.submit {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--third);
  color: var(--white);
  opacity: 0.8;
}

.submit:hover {
  opacity: 1;
}

.image {
  display: flex;
  width: 200px;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
}

.upload {
  width: 70px;
}

.form-container input:focus,
.form-container textarea:focus {
  outline: none;
}

.image-picker {
  display: none;
}
.previews {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.preview-image {
  display: inline-block;
  height: 100px;
  position: relative;
  box-shadow: 0 0 5px var(--second);
  border-radius: 5px;
}
.preview {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.remove-preview {
  position: absolute;
  top: 0px;
  right: 8px;
  color: var(--third);
  font-size: var(--third-font-size);
  transform: rotate(45deg);
}
.area-list {
  display: none;
}

.dark-mode {
  --first: #000001;
  --second: #fffaff;
  --dark-shadow: var(--first);
  --light-shadow: var(--first);

  .form-container,
  input,
  label:not(.dark-toggle-switch, .dark-mode-toggle) {
    border: 1px solid var(--second);
  }

  .form-container input:last-child {
    border: none;
  }

  label.image {
    color: white;
  }
  .form-container input:not(:last-child, .region-search),
  .form-container textarea {
    box-shadow: none;
  }
}

.maincat-display,
.subcat-display,
.region-list,
.city-list {
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: inset 4px 4px 5px var(--dark-shadow),
    inset -4px -4px 5px var(--light-shadow);
  display: none;
  padding: 10px;
}
.area-list {
  display: none;
}
.sub-category,
.main-category,
.city,
.region {
  padding: 8px 20px;
  cursor: pointer;
  border-bottom: 1px solid var(--third);
}
.sub-category:hover,
.main-category:hover,
.city:hover,
.region:hover {
  background-color: var(--third);
  color: var(--white);
}
.region-search {
  position: sticky;
  top: 0;
  width: 100%;
  border: 1px solid var(--third);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}
.response,
.success_response {
  text-align: center;
  background-color: var(--sixth);
  color: var(--white);
  cursor: auto;
}
.success_response {
  background-color: var(--fifth);
}
.negotiate-wrapper,
.condition-wrapper {
  cursor: pointer;
  font-size: var(--after-first-font-size);
}
.negotiate-wrapper input:first-child,
.condition-wrapper input:first-child {
  margin-left: 10px;
}
